.card.card-question

    if (card.type === 'multiple-choice')
        p #{card.prompt}

        ul.pos-answers 
            li (Select One)
            each answer in card.answers
                li #{answer}

    else 
        //- Filler paragraph tag 
        p 

        p #{card.prompt}

        if (card.extra)
            a(href='').show-hint-btn 
                | Show Hint

    .card-btn-bar
        a(href=`/topics/${topic.title}/cards/${card_id}?side=answer`).flip
            i.far.fa-share-square

        a(href=`/topics/${topic.title}/cards/${card_id}/next`).next
            i.fas.fa-arrow-right