extends layout.pug

block main
	h3 #{topic.title}

	div
		h3 #{card.prompt}

		if (side === 'question') 
			a(href=`/topics/${topic.title}/cards/${card_id}?side=answer`) Show Answer
		else 
			p #{card.answer}

		br
		a(href=`/topics/${topic.title}/cards/${card_id}/next`) Next

