extends layout.pug

block main
	include includes/name-display.pug

	include includes/card-title.pug

	.card 
		p #{card.prompt}

		a(href='').show-hint-btn 
			| Show Hint

		.card-btn-bar.clearfix
			if (side === 'question') 
				a(href=`/topics/${topic.title}/cards/${card_id}?side=answer`).flip
					i.far.fa-share-square
			else 
				a(href=`/topics/${topic.title}/cards/${card_id}?side=question`).flip-rev
					i.far.fa-share-square

			a(href=`/topics/${topic.title}/cards/${card_id}/next`).next
				i.fas.fa-arrow-right

	include includes/card-footer.pug

